    <!--====== HEADER TWO PART START ======-->
    <section class="header-area header-two">
      <div class="header-content-area d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-lg-end">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
              <div class="header-content">
                 {SETSTYLE=heading-3}
                 {WMESSAGE=force}
              </div>
              <!-- header content -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->

        <div class="header-image d-none d-lg-flex align-items-center">
          <div class="image">
            <img src="{THEME_PATH}images/header/task.svg" alt="Header" />
          </div>
          <!-- image -->
        </div>
        <!-- header image -->
      </div>
      <!-- header content area -->
    </section>

    <!--====== HEADER TWO PART ENDS ======-->
