  <!-- Start header Area -->
  <section id="hero" class="header-area header-eleven">
    <img class="shape" src="{THEME_PATH}assets/images/header/img-wave.png" alt="#" />
    <!-- Single Slider -->
    <div class="header-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 co-12">
            <div class="home-slider">
              <div class="header-text">
                {SETSTYLE=heading-1}
                {WMESSAGE=force}
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="mobile-screen">
              <img src="{THEME_PATH}assets/images/header/app-overview.png" alt="{SITETITLE}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Single Slider -->
  </section>
  <!--/ End header Area -->
  
 