    <!--====== HEADER ONE PART START ======-->
    <section class="header-area header-one">
      <div class="header-content-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div class="header-wrapper">
                <div class="header-content">
                {SETSTYLE=heading-1}
                {WMESSAGE=force}
                </div>
                <!-- header content -->
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="header-image d-none d-lg-block">
                <div class="image">
                  <img
                    src="{THEME_PATH}assets/images/header/header-1.svg"
                    alt="{SITETITLE}"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
        <div class="header-shape">
          <img src="{THEME_PATH}assets/images/header/header-shape.svg" alt="shape" />
        </div>
        <!-- header-shape -->
      </div>
      <!-- header content area -->
    </section>

    <!--====== HEADER ONE PART ENDS ======-->
  