    <!-- Start header Area -->
    <section class="header-area header-ten">
      <div class="verticle-lines">
        <div class="vlines one"></div>
        <div class="vlines two"></div>
        <div class="vlines three"></div>
        <div class="vlines four"></div>
      </div>
      <!-- Single Slider -->
      <div class="header-inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 co-12">
              <div class="home-slider">
                <div class="header-text">
                    {SETSTYLE=heading-6}
                    {WMESSAGE=force}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="header-image">
                <img
                  class="shape3"
                  src="{THEME_PATH}images/header/header-10/shape3.png"
                  alt="{SITENAME}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Single Slider -->
    </section>
    <!--/ End header Area -->
