    <!--====== FOOTER FIVE PART START ======-->
    <section class="footer-area footer-five">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="footer-top-content">
              <div class="footer-logo text-center">
                {SITELOGO: w=400}
              </div>
              <!-- footer logo -->
              <p class="text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry Lorem Ipsum has been.
              </p>
              <h5 class="text-center social-title">Follow Us On</h5>
                {XURL_ICONS: template=footer-05}
              <!-- social -->
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="copyright text-center">
                <p class="text">{SITEDISCLAIMER}</p>
              </div>
              <!--  copyright -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== FOOTER FIVE PART ENDS ======-->
